{% extends 'questionnaire/header.html' %}

{% block content %}


<div class="container">
    <div class="test_info">
        <div class="test_info_item">{{ header }}</div> 
        <div class="test_info_item">Количество тестов: {{ questions }}</div>
        <div class="test_info_item">Решено: {{ answers }}</div>
    </div>
    <div class="tes_navigation">
        <button id="home">На главную</button> 
        <button id="start">Приступить</button>
    </div>        
</div>


<script>
    document.querySelector('#home').onclick = function(e) {
        window.location.href = "{% url 'home' %}"
    }

    document.querySelector('#start').onclick = function(e) {
        window.location.href += '/questions/' 
    }

</script>
    
    
 
{% endblock %}
